<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ type }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
</head>
<body>
  <form>
    <ul id="create">
      {% for key in schema.keys() %}
          <li>{{ key }}
            <input class="form-control basicAutoComplete" type="text"
              data-url="http://localhost:8000/suggest_pointed_entity/{{ type }}/{{ key }}/"
              autocomplete="off">
          </li>
      {% endfor %}
    </ul>
  </form>
  <script type="text/javascript">
    $('.basicAutoComplete').autoComplete();
  </script>
</body>
</html>
